<!DOCTYPE html>
<html>

<head>
    <title>
        Jonathan Iqueda - CMS
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Search engines -->
    <meta name="description" content="Desenvolvedor Web. Back-end. PHP. JS. NodeJS. HTML5. CSS3. ES2016. VueJS. E a tal Sopa de Letrinhas...">

    <!-- Standard Favicon -->
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!--STYLES ADMIN-->
    
    <!--STYLES ADMIN END-->
</head>

<body>

    <%- body %>

        <script src="/js/dependencies/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <!--SCRIPTS ADMIN-->
        
        <!--SCRIPTS ADMIN END-->
</body>

</html>
