<!--========================================
  Main Section
=========================================-->
<section class='main-section' id='home'>
    <div class='container'>

        <h1 class='intro-name' data-aos='fade-up'>
      <strong>API LDM DIGITAL</strong>
    </h1>

        <p class='intro-info' data-aos='fade-up'>Desenvolvimento de micro-serviços para a empresa LDM Digital.</p>

    </div>
</section>

<!--========================================
  Project Section
=========================================-->
<section class='section project-section'>
    <div class='container'>
        <div class='project-content'>

            <!-- images slider -->
            <div class='project-slider' data-aos='fade-up'>

                <img src='../images/portfolio/api/api-default-img-1.png' alt="Imagem default para APIs projects.">

                <img src='../images/portfolio/api/api-default-img-2.jpg' alt="Imagem default para APIs projects.">

            </div>

            <!-- heading -->
            <h2 data-aos='fade-up'>Um projeto para integrar serviços</h2>

            <p data-aos='fade-up'>
                O projeto da API do LDM Digital foi um projeto de integração de serviços, como por exemplo: integrar a InfusionSoft com a OneSignal.
            </p>
            <p data-aos='fade-up'>
                Tudo que a galera da LDM precisava/precisa integrar é feito por essa API. Além disso ela possui um plus que é um serviço de geração de relatórios para o projeto de Google Forms deles.
            </p>

            <p data-aos='fade-up'>
                A API desenvolvida para a galera da LDM Digital está no meu Bitbucket como projeto privado, por possuir keys importantes ao longo do código, logo não será possível disponibilizar o projeto.
            </p>

        </div>
    </div>
</section>
