<!--========================================
  Main Section
=========================================-->
<section class='main-section' id='home'>
    <div class='container'>

        <h1 class='intro-name' data-aos='fade-up'>
      <strong>API PAYSAFE</strong>
    </h1>

        <p class='intro-info' data-aos='fade-up'>Desenvolvimento de micro-serviços para a empresa Paysafe.</p>

    </div>
</section>

<!--========================================
  Project Section
=========================================-->
<section class='section project-section'>
    <div class='container'>
        <div class='project-content'>

            <!-- images slider -->
            <div class='project-slider' data-aos='fade-up'>

                <img src='../images/portfolio/api/api-default-img-1.png' alt="Imagem default para APIs projects.">

                <img src='../images/portfolio/api/api-default-img-2.jpg' alt="Imagem default para APIs projects.">

            </div>

            <!-- heading -->
            <h2 data-aos='fade-up'>Projeto facilitador para empresa</h2>

            <p data-aos='fade-up'>
                A empresa Paysafe gerencia vários eCommerces em Prestashop. Para eles foram desenvolvidos vários projetos, inclusive o <a href="/portfolio/paypal-fast-prestashop">Paypal Fast</a>.
            </p>

            <p data-aos='fade-up'>
                Um dos projetos é o Facilitador de Serviços, que nada mais é que uma API para realizar serviços como: disparo de e-mail, gerenciador de keys do PayPlay Plus e etc.
            </p>

            <p data-aos='fade-up'>
                Para esse projeto eu resolvi adotar a arquitetura monolítica pois não vejo a necessidade de se escalar o projeto no futuro. Além disso foi tudo desenvolvido em Php7.0 com Lumen 5.3 de framework.
            </p>

        </div>

        <div class='btn-back-to-home'>
            <a href="<%=HelperService.getBaseUrl(req)%>#portfolio" class="btn-custom waves-effect waves-classic">Voltar Para Home</a>
        </div>
    </div>
</section>
