<!--========================================
  Main Section
=========================================-->
<section class='main-section' id='home'>
    <div class='container'>

        <h1 class='intro-name' data-aos='fade-up'>
      <strong>Integração UnicoDono WebService</strong>
    </h1>

        <p class='intro-info' data-aos='fade-up'>
            Criação de um serviço específico para o UnicoDono.
        </p>

    </div>
</section>

<!--========================================
  Project Section
=========================================-->
<section class='section project-section'>
    <div class='container'>
        <div class='project-content'>

            <!-- images slider -->
            <div class='project-slider' data-aos='fade-up'>

                <img src='../images/portfolio/unicodono.png' alt="Logo UnicoDono">
            </div>

            <!-- heading -->
            <h2 data-aos='fade-up'>Integrando XML ao WebService</h2>

            <p data-aos='fade-up'>
                A galera do UnicoDono precisava integrar um XML que outra empresa X gerava para eles diariamente ao Portal da Empresa.
            </p>

            <p data-aos='fade-up'>
                Para suprir a necessidade deles foi desenvolvimento uma "mini"-api em PHP com Lumen 5.3, que roda um Command via Cron diariamente.
            </p>

        </div>

        <div class='btn-back-to-home'>
            <a href="<%=HelperService.getBaseUrl(req)%>#portfolio" class="btn-custom waves-effect waves-classic">Voltar Para Home</a>
        </div>
    </div>
</section>
