<!--========================================
  Main Section
=========================================-->
<section class='main-section' id='home'>
    <div class='container'>

        <h1 class='intro-name' data-aos='fade-up'>
      <strong>Módulo Moip Para WooCommerce</strong>
    </h1>

        <p class='intro-info' data-aos='fade-up'>Módulo feito para WordPress + WooCommerce</p>

    </div>
</section>

<!--========================================
  Project Section
=========================================-->
<section class='section project-section'>
    <div class='container'>
        <div class='project-content'>

            <!-- images slider -->
            <div class='project-slider' data-aos='fade-up'>

                <img src='../images/portfolio/moip.png' alt="Logo do paypal">

            </div>

            <!-- heading -->
            <h2 data-aos='fade-up'>Módulo Woocommerce</h2>

            <p data-aos='fade-up'>
                Apesar de já existir um módulo do Moip para o WooCommerce, houve a necessidade de um cliente em integrar a API v2 do Moip (uma API RESTful) para melhorar a performance nos pagamentos e para realizar algumas alterações específicas como a de parcelamento.
            </p>

            <p data-aos='fade-up'>
                Hoje este módulo está privado pois possui elementos únicos feitos para a empresa, mas eu possuo a intenção de adaptá-lo para disponibilizar free no meu <a href="https://github.com/jonathaniqueda">GitHub.</a>
            </p>

        </div>

        <div class='btn-back-to-home'>
            <a href="<%=HelperService.getBaseUrl(req)%>#portfolio" class="btn-custom waves-effect waves-classic">Voltar Para Home</a>
        </div>
    </div>
</section>
