<!--========================================
  Main Section
=========================================-->
<section class='main-section' id='home'>
    <div class='container'>

        <h1 class='intro-name' data-aos='fade-up'>
      <strong>PapDigital</strong>
    </h1>

        <p class='intro-info' data-aos='fade-up'>
            Criação do Dashboard e adaptação do app em Android Nativo.
        </p>

    </div>
</section>

<!--========================================
  Project Section
=========================================-->
<section class='section project-section'>
    <div class='container'>
        <div class='project-content'>

            <!-- images slider -->
            <div class='project-slider' data-aos='fade-up'>
                <img src='../images/portfolio/papdigital.png' alt="Logo UnicoDono">
            </div>

            <!-- heading -->
            <h2 data-aos='fade-up'>Dashboard + alteração no App Android Nativo</h2>

            <p data-aos='fade-up'>
                Para o pessoal do <a href="http://www.papdigital.com.br/">Pap Digital</a> eu fiz toda a reformulação do novo banco de dados, do novo Dashboard e toda a refatoração do código trocando do CakePHP 2.x para o Laravel 5.3.
            </p>

            <p data-aos='fade-up'>
                Além disso, por mudar o banco de dados, houve-se a necessidade de alterar algumas regras no aplicativo nativo Android. Essas alterações também foram feitas por mim.
            </p>

        </div>

        <div class='btn-back-to-home'>
            <a href="<%=HelperService.getBaseUrl(req)%>#portfolio" class="btn-custom waves-effect waves-classic">Voltar Para Home</a>
        </div>
    </div>
</section>
