<!--========================================
  Main Section
=========================================-->
<section class='main-section' id='home'>
    <div class='container'>

        <h1 class='intro-name' data-aos='fade-up'>
      <strong>PayPal Fast</strong>
    </h1>

        <p class='intro-info' data-aos='fade-up'>Módulo do PayPal Plus para Prestashop</p>

    </div>
</section>

<!--========================================
  Project Section
=========================================-->
<section class='section project-section'>
    <div class='container'>
        <div class='project-content'>

            <!-- images slider -->
            <div class='project-slider' data-aos='fade-up'>

                <img src='../images/portfolio/paypal.png' alt="Logo do paypal">

            </div>

            <!-- heading -->
            <h2 data-aos='fade-up'>Módulo para o Prestashop</h2>

            <p data-aos='fade-up'>
                Dentre os meus projetos de destaque, levo o PayPal Plus como um dos queridinhos pois ele foi um dos serviços mais complexos de se integrar em um módulo, até mesmo por se tratar de uma parte crucial do Prestashop, que são os pagamento
            </p>

            <p data-aos='fade-up'>
                Hoje este módulo está privado pois possui elementos únicos feitos para a empresa, mas eu possuo a intenção de adaptá-lo para disponibilizar free no meu <a href="https://github.com/jonathaniqueda">GitHub.</a>
            </p>

        </div>
    </div>
</section>
