<!--========================================
  Main Section
=========================================-->
<section class='main-section' id='home'>
    <div class='container'>

        <h1 class='intro-name' data-aos='fade-up'>
      <strong>UnoTraduções</strong>
    </h1>

        <p class='intro-info' data-aos='fade-up'>
            Criação do site institucional da UnoTraduções
        </p>

    </div>
</section>

<!--========================================
  Project Section
=========================================-->
<section class='section project-section'>
    <div class='container'>
        <div class='project-content'>

            <!-- images slider -->

            <!-- heading -->
            <h2 data-aos='fade-up'>Site multipage institucional</h2>

            <p data-aos='fade-up'>
                Para a empresa <a href="http://unotraducoes.com.br/bem-vindo">UnoTraduções</a> foi desenvolvido um site institucional simples, feito em Laravel 5.2 com PHP7.0 e disparos de e-mail gerenciado pelo <a href="https://mailgun.com/" target=_blank>MailGun</a>
            </p>

        </div>
    </div>
</section>
