<!--========================================
			Contact Section
		=========================================-->
<section class='section contact-section' id='contact'>
    <div class='container'>

        <div class='section-header' data-aos='fade-up'>
            <h2>FALA COMIGO :-)</h2>
        </div>

        <form class='contact-form' action="<%=sails.getUrlFor('HomeController.contact')%>" id='contact-form' method='post' data-toggle='validator'>
            <input type='hidden' name='_csrf' value='<%= _csrf %>'>

            <div id='contact-form-result'></div>

            <div class='row'>

                <div class='col-md-6'>

                    <div class='form-group' data-aos='fade-up'>
                        <div class='material-input'>
                            <input type='text' class='form-control' name='name'>
                            <label>Nome</label>
                            <span class='border'></span>
                        </div>
                        <div class='help-block with-errors'></div>
                    </div>

                </div>
                <div class='col-md-6'>

                    <div class='form-group' data-aos='fade-up'>
                        <div class='material-input'>
                            <input type='email' class='form-control' name='email'>
                            <label>E-mail</label>
                            <span class='border'></span>
                        </div>
                        <div class='help-block with-errors'></div>
                    </div>

                </div>
            </div>


            <div class='form-group' data-aos='fade-up'>

                <div class='material-input'>
                    <input type='text' class='form-control' name='subject'>
                    <label>Assunto</label>
                    <span class='border'></span>
                </div>

                <div class='help-block with-errors'></div>
            </div>

            <div class='form-group' data-aos='fade-up'>

                <div class='material-input'>
                    <textarea class='form-control' rows='4' name='message'></textarea>
                    <label>Mensagem</label>
                    <span class='border'></span>
                </div>

                <div class='help-block with-errors'></div>
            </div>

            <div class='form-group' data-aos='fade-up'>
                <button type='submit' class='btn-custom'>Enviar</button>
            </div>

        </form>
    </div>
</section>
