<!--========================================
  Experience Section
=========================================-->
<section class='section experience-section' id='experience'>
    <div class='container'>

        <div class='section-header' data-aos='fade-up'>
            <h2>experiência no mercado</h2>
        </div>

        <ul class='timeline'>

            <li class='current' data-aos='fade-up'>
                <div class='date'>
                    Ago 2016 - Atual
                </div>
                <div class='content'>
                    <h4>Desenvolvedor Back-end Pleno</h4>
                    <span>Desenvolvedor Back-end Pleno PHP e NodeJS na UFox Tecnologia</span>
                </div>
            </li>

            <li data-aos='fade-up'>
                <div class='date'>
                    Set 2015 - Jul 2016
                </div>
                <div class='content'>
                    <h4>Desenvolvedor Back-end Jr.</h4>
                    <span>Analista de Marketing Digital com Foco em Desenvolvimento Back-end PHP na <a href="https://www.mongeralaegon.com.br/">Mongeral Aegon</a></span>
                </div>
            </li>

            <li data-aos='fade-up'>
                <div class='date'>
                    Mar 2015 - Set 2015
                </div>
                <div class='content'>
                    <h4>SEO/SEM Intern</h4>
                    <span>Estagiário de SEO e SEM na <a href="https://www.mongeralaegon.com.br/">Mongeral Aegon</a></span>
                </div>
            </li>

            <li data-aos='fade-up'>
                <div class='date'>
                    Nov 2014 - Jan 2015
                </div>
                <div class='content'>
                    <h4>E-Commerce Espaço Baby</h4>
                    <span>Fundador e Web Developer</span>
                </div>
            </li>

            <li data-aos='fade-up'>
                <div class='date'>
                    Mar 2014 - Oct 2014
                </div>
                <div class='content'>
                    <h4>SEO Intern</h4>
                    <span>Estagiário na <a href="https://www.aluguetemporada.com.br/">HomeAway</a></span>
                </div>
            </li>

        </ul>
    </div>
</section>
