<!--========================================
  Funfacts Section
=========================================-->
<section class='section funfacts-section' id='funfacts'>
    <div class='container'>

        <div class='section-header' data-aos='fade-up'>
            <h2>curiosidades</h2>
        </div>

        <div class='row'>

            <div class='col-sm-4 col-xs-6'>
                <div class='funfact' data-aos='fade-up'>
                    <strong>+ de 50</strong>
                    <span>Clientes Felizes</span>
                </div>
            </div>

            <div class='col-sm-4 col-xs-6'>
                <div class='funfact' data-aos='fade-up'>
                    <strong>+ de 20</strong>
                    <span>Projetos Em Produção</span>
                </div>
            </div>

            <div class='col-sm-4 col-xs-6'>
                <div class='funfact' data-aos='fade-up'>
                    <strong>+ de 10</strong>
                    <span>Códigos Legados</span>
                </div>
            </div>

        </div>
    </div>
</section>
