<!--========================================
  Portfolio Section
=========================================-->
<section class='section portfolio-section' id='portfolio'>
    <div class='container'>

        <div class='section-header' data-aos='fade-up'>
            <h2>meu portfólio</h2>
        </div>

        <ul class='portfolio-items' data-aos='fade-up'>

            <li>
                <div class='inner'>
                    <img src='images/portfolio/home-api.png' alt>
                    <a href='/portfolio/api-ldm' class='overlay'>
                        <h4>api ldm digital</h4>
                        <span>API</span>
                    </a>
                </div>
            </li>

            <li>
                <div class='inner'>
                    <img src='images/portfolio/home-api-gear.png' alt>
                    <a href='/portfolio/api-paysafe' class='overlay'>
                        <h4>api paysafe</h4>
                        <span>API</span>
                    </a>
                </div>
            </li>

            <li>
                <div class='inner'>
                    <img src='images/portfolio/integracao-unicodono.png' alt>
                    <a href='/portfolio/integracao-unico-dono' class='overlay'>
                        <h4>integração no portal unicodono</h4>
                        <span>Integrações</span>
                    </a>
                </div>
            </li>

            <li>
                <div class='inner'>
                    <img src='images/portfolio/home-moip.png' alt>
                    <a href='/portfolio/moip-para-woocommerce' class='overlay'>
                        <h4>módulo do moip v2 para woocommerce</h4>
                        <span>Módulo</span>
                    </a>
                </div>
            </li>

            <li>
                <div class='inner'>
                    <img src='images/portfolio/home-paypal.png' alt>
                    <a href='/portfolio/paypal-fast-prestashop' class='overlay'>
                        <h4>módulo do paypal plus para prestashop</h4>
                        <span>Módulo</span>
                    </a>
                </div>
            </li>

            <li>
                <div class='inner'>
                    <img src='images/portfolio/home-papdigital.png' alt>
                    <a href='/portfolio/papdigital' class='overlay'>
                        <h4>pap digital</h4>
                        <span>Projeto</span>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</section>
