<!--========================================
  Portfolio Section
=========================================-->
<section class='section portfolio-section' id='portfolio'>
    <div class='container'>

        <div class='section-header' data-aos='fade-up'>
            <h2>meu portfólio</h2>
        </div>

        <div class='portfolio-items' data-aos='fade-up'>

            <div>
                <div class='col-md-4 col-sm-4 col-xs-12'>
                    <a href='/portfolio/api-ldm' title="Vai lá conferir!">
                        <img class="png-img-home-api" title='Imagem ilustrativa para API'>
                    </a>
                </div>
                <div class='col-md-8 col-sm-8 col-xs-12 portfolio-description'>
                    <a href='/portfolio/api-ldm' title="Vai lá conferir!">
                        <h4>RESTFul API - LDM Digital</h4>
                    </a>
                    <p>
                        A API feita para a equipe da empresa LDM Digital, foi toda feita em RESTFul com PHP7.0 e Lumen 5.3.
                    </p>
                    <a href='/portfolio/api-ldm' title="Vai lá conferir!">
                        <small>
                        Clique aqui para visualizar mais detalhes...
                    </small>
                    </a>
                </div>
            </div>

            <div>
                <div class='col-md-4 col-sm-4 col-xs-12'>
                    <a href='/portfolio/api-paysafe' title="Vai lá conferir!">
                        <img class="png-img-home-api-gear" title='Imagem ilustrativa para API'>
                    </a>
                </div>
                <div class='col-md-8 col-sm-8 col-xs-12 portfolio-description'>
                    <a href='/portfolio/api-paysafe' title="Vai lá conferir!">
                        <h4>RESTFul API - PaySafe</h4>
                    </a>
                    <p>
                        A API feita com objetivo de ajudar na logística dos eCommerces feitos em PrestaShop da empresa Leal Importadora (PaySafe).
                    </p>
                    <a href='/portfolio/api-paysafe' title="Vai lá conferir!">
                        <small>
                            Clique aqui para visualizar mais detalhes...
                        </small>
                    </a>
                </div>
            </div>

            <div>
                <div class='col-md-4 col-sm-4 col-xs-12'>
                    <a href='/portfolio/integracao-unico-dono' title="Vai lá conferir!">
                        <img class="png-img-integracao-unicodono" title='Imagem ilustrativa para Integrações'>
                    </a>
                </div>
                <div class='col-md-8 col-sm-8 col-xs-12 portfolio-description'>
                    <a href='/portfolio/integracao-unico-dono' title="Vai lá conferir!">
                        <h4>XML Integration no Portal Automotivo UnicoDono</h4>
                    </a>
                    <p>
                        A intenção dessa integração era atualizar via WebService SOAP a base de dados dos carros diariamente.
                    </p>
                    <a href='/portfolio/integracao-unico-dono' title="Vai lá conferir!">
                        <small>
                            Clique aqui para visualizar mais detalhes...
                        </small>
                    </a>
                </div>
            </div>

            <div>
                <div class='col-md-4 col-sm-4 col-xs-12'>
                    <a href='/portfolio/moip-para-woocommerce' title="Vai lá conferir!">
                        <img class="png-img-home-moip" title='Imagem ilustrativa para representar o Moip (Pagamentos)'>
                    </a>
                </div>
                <div class='col-md-8 col-sm-8 col-xs-12 portfolio-description'>
                    <a href='/portfolio/moip-para-woocommerce' title="Vai lá conferir!">
                        <h4>Módulo Moip WooCommerce</h4>
                    </a>
                    <p>
                        Esse módulo foi desenvolvido para consumir e transacionar requisições com a API v2 do Moip Pagamentos.
                    </p>
                    <a href='/portfolio/moip-para-woocommerce' title="Vai lá conferir!">
                        <small>
                            Clique aqui para visualizar mais detalhes...
                        </small>
                    </a>
                </div>
            </div>

            <div>
                <div class='col-md-4 col-sm-4 col-xs-12'>
                    <a href='/portfolio/paypal-fast-prestashop' title="Vai lá conferir!">
                        <img class="png-img-home-paypal" title='Imagem ilustrativa para representar o Paypal (Pagamentos)'>
                    </a>
                </div>
                <div class='col-md-8 col-sm-8 col-xs-12 portfolio-description'>
                    <a href='/portfolio/paypal-fast-prestashop' title="Vai lá conferir!">
                        <h4>Módulo PayPalFast - PrestaShop</h4>
                    </a>
                    <p>
                        O módulo PayPalFast foi desenvolvido para o PrestaShop 1.6+ para integrar a solução do PayPal Plus à empresa Leal Importadora (PaySafe).
                    </p>
                    <a href='/portfolio/paypal-fast-prestashop' title="Vai lá conferir!">
                        <small>
                            Clique aqui para visualizar mais detalhes...
                        </small>
                    </a>
                </div>
            </div>

            <div>
                <div class='col-md-4 col-sm-4 col-xs-12'>
                    <a href='/portfolio/papdigital' title="Vai lá conferir!">
                        <img class="png-img-home-papdigital" title='Imagem ilustrativa para representar o PapDigital'>
                    </a>
                </div>
                <div class='col-md-8 col-sm-8 col-xs-12 portfolio-description'>
                    <a href='/portfolio/papdigital' title="Vai lá conferir!">
                        <h4>Sistema PapDigital</h4>
                    </a>
                    <p>
                        O Sistema PapDigital consiste em toda uma logística de integração entre Painel Administrativo + RESTFul API + App Android.
                    </p>
                    <a href='/portfolio/papdigital' title="Vai lá conferir!">
                        <small>
                            Clique aqui para visualizar mais detalhes...
                        </small>
                    </a>
                </div>
            </div>

            <div>
                <div class='col-md-4 col-sm-4 col-xs-12'>
                    <a href='/portfolio/unotraducoes' title="Vai lá conferir!">
                        <img class="png-img-unotraducoes" title='Imagem ilustrativa para representar a UnoTraduções'>
                    </a>
                </div>
                <div class='col-md-8 col-sm-8 col-xs-12 portfolio-description'>
                    <a href='http://unotraducoes.com.br/bem-vindo' target=_blank title="Vai lá conferir!">
                        <h4>Site Institucional UnoTraduções</h4>
                    </a>
                    <p>
                        Site institucional simples feito em Laravel 5.2 com HTML5 e CSS3.
                    </p>
                    <a href='http://unotraducoes.com.br/bem-vindo' target=_blank title="Vai lá conferir!">
                        <small>
                            Clique aqui para visualizar mais detalhes...
                        </small>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
