<!--========================================
  Services Section
=========================================-->
<section class='section services-section' id='services'>
    <div class='container'>

        <div class='section-header' data-aos='fade-up'>
            <h2>o que você deseja?</h2>
        </div>

        <div class='row'>
            <div class='col-sm-6'>

                <div class='service' data-aos='fade-up'>
                    <i class='icon-basic-keyboard'></i>
                    <h4>Desenvolvimento web</h4>
                    <p>
                        Finalmente você resolveu criar seu site ou sistema web, né? Não aguentava mais te esperar <i>~risos~</i>. Então independente dá tecnologia a ser usada, <a href="#contact">fala comigo, vai :-)</a>.
                    </p>
                </div>

            </div>
            <div class='col-sm-6'>

                <div class='service' data-aos='fade-up'>
                    <i class='icon-basic-gear'></i>
                    <h4>Soluções para Aplicativos</h4>
                    <p>
                        Se você deseja um cara eficiente no desenvolvimento de micro-serviços para seu app ou web app (sendo mais prático: uma API). <a href="#contact">FALAAAAA COMIIIIGOOO :-)</a>
                    </p>
                </div>

            </div>
        </div>
        <div class='row'>
            <div class='col-sm-6'>

                <div class='service' data-aos='fade-up'>
                    <i class='icon-basic-magnifier'></i>
                    <h4>Otimização para Buscas</h4>
                    <p>
                        Se você procura um desenvolvedor para criar uma solução para os mecanismos de buscas para você. <a href="#contact">Fala comigo!</a>
                    </p>
                </div>

            </div>

            <div class='col-sm-6'>

                <div class='service' data-aos='fade-up'>
                    <i class='icon-basic-lightbulb'></i>
                    <h4>Aumento de Performance</h4>
                    <p>
                        Dá uma olhada no <a href="https://developers.google.com/speed/pagespeed/insights/?hl=pt-BR">PageSpeed do Google</a> e vê como seu site está. Se quiser dá uma melhorada boa nele... <a href="#contact">Nem preciso dizer né? SÓ FALAR COMIGO :-)</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
