<!--========================================
  Skills Section
=========================================-->
<section class='section skills-section' id='skills'>
    <div class='container'>

        <div class='section-header' data-aos='fade-up'>
            <h2>meus fuc**** skills</h2>
        </div>

        <div class='skill' data-percent='95' data-aos='fade-up'>
            <h4>PHP</h4>
            <span class='percent'>95%</span>
            <div class='skill-bar'>
                <div style='width:90%;'></div>
            </div>
        </div>

        <div class='skill' data-percent='85' data-aos='fade-up'>
            <h4>JavaScript</h4>
            <span class='percent'>85%</span>
            <div class='skill-bar'>
                <div style='width:85%;'></div>
            </div>
        </div>

        <div class='skill' data-percent='75' data-aos='fade-up'>
            <h4>NodeJS</h4>
            <span class='percent'>75%</span>
            <div class='skill-bar'>
                <div style='width:75%;'></div>
            </div>
        </div>

        <div class='skill' data-percent='20' data-aos='fade-up'>
            <h4>Vue.JS</h4>
            <span class='percent'>20%</span>
            <div class='skill-bar'>
                <div style='width:20%;'></div>
            </div>
        </div>

        <div class='skill' data-percent='80' data-aos='fade-up'>
            <h4>HTML/CSS</h4>
            <span class='percent'>85%</span>
            <div class='skill-bar'>
                <div style='width:85%;'></div>
            </div>
        </div>

        <div class='skill' data-percent='95' data-aos='fade-up'>
            <h4>WordPress</h4>
            <span class='percent'>90%</span>
            <div class='skill-bar'>
                <div style='width:90%;'></div>
            </div>
        </div>

        <div class='skill' data-percent='70' data-aos='fade-up'>
            <h4>Plugins WordPress</h4>
            <span class='percent'>70%</span>
            <div class='skill-bar'>
                <div style='width:70%;'></div>
            </div>
        </div>

        <div class='skill' data-percent='90' data-aos='fade-up'>
            <h4>Módulos PrestaShop</h4>
            <span class='percent'>90%</span>
            <div class='skill-bar'>
                <div style='width:90%;'></div>
            </div>
        </div>

        <div class='skill' data-percent='100' data-aos='fade-up'>
            <h4>SEO On-Page</h4>
            <span class='percent'>100%</span>
            <div class='skill-bar'>
                <div style='width:100%;'></div>
            </div>
        </div>

    </div>
</section>
