<!--========================================
  Testimonials Section
=========================================-->
<section class='section testimonials-section' id='testimonials'>
    <div class='container'>

        <div class='section-header' data-aos='fade-up'>
            <h2>Clientes Satisfeitos</h2>
        </div>

        <div class='testimonials-slider' data-aos='fade-up'>

            <div class='testimonial'>
                <div class='author-img'>
                    <img src='images/rogerio-1.png' alt="Rogério Galvão - CEO da Unico Dono">
                </div>
                <div class='content'>
                    <div class='author-info'>
                        <strong>Rogério Galvão</strong>
                        <span>CEO @ <a href="http://www.unicodono.com.br/">Unico Dono</a></span>
                    </div>
                    <p>
                        "Ótimo profissional, realizou muito bem o trabalho!"
                    </p>
                </div>
            </div>

            <div class='testimonial'>
                <div class='author-img'>
                    <img src='images/lukas-mussoi.jpg' alt="Lukas Mussoi - CEO da LDM Digital">
                </div>
                <div class='content'>
                    <div class='author-info'>
                        <strong>Lukas Mussoi</strong>
                        <span>CEO @ <a href="https://formataropc.com/">LDM Digital</a></span>
                    </div>
                    <p>
                        "Excelente profissional, bem qualificado e cumpre com o trato. Recomendo."
                    </p>
                </div>
            </div>

            <div class='testimonial'>
                <div class='author-img'>
                    <img src='images/default.jpg' alt="Márcio Rodrigues - CEO da Leal Importadora">
                </div>
                <div class='content'>
                    <div class='author-info'>
                        <strong>Márcio Rodrigues</strong>
                        <span>CEO @ Leal Importadora LTDA</span>
                    </div>
                    <p>
                        "Palavra para resumir ao máximo: PROFISSIONAL! Altamente recomendado! Proativo e atencioso! Sempre sugerindo novas e melhores soluções."
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
